<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
      <typeAlias type="com.sesoc.cl.vo.Users" alias="Users"/>
      <typeAlias type="com.sesoc.cl.vo.ClassInfo" alias="ClassInfo"/>
		<typeAlias type="com.sesoc.cl.vo.ClassCount" alias="ClassCount"/>
		<typeAlias type="com.sesoc.cl.vo.ClassUser" alias="ClassUser"/>  
   </typeAliases>
   <mappers>
      <mapper resource="mapper/usersmapper.xml"/>
      <mapper resource="mapper/classInfoMapper.xml"/>
   </mappers>
</configuration>